# PROJECT_VIVINO

In [27]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session, sessionmaker, registry

# open vivino.db from data directory
vivino_engine = create_engine('sqlite:///../data/vivino.db', echo=True)

# establish and instantiate session as vivino_session
vivino_session = sessionmaker(bind=vivino_engine)
vivino_session = vivino_session()

# create a registry for the vivino_session
mapper_registry = registry()
Base = mapper_registry.generate_base()

# create tablenames_list that contains all table names in vivino.db
query_tablenames = vivino_engine.execute(
    "SELECT name FROM sqlite_master WHERE type='table';"
    )
tablenames_list = []
for row in query_tablenames:
    tablenames_list.append(row[0])

print("The tables in vivino.db are:")
for table in tablenames_list:
    print(table)

2023-08-29 22:23:35,636 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table';
2023-08-29 22:23:35,638 INFO sqlalchemy.engine.Engine [raw sql] ()
The tables in vivino.db are:
countries
grapes
wineries
flavor_groups
keywords
regions
most_used_grapes_per_country
toplists
wines
vintages
keywords_wine
vintage_toplists_rankings

In [37]:
# query schemas for most_used_grapes_per_country table, countries table, grapes, toplists, wines table
query_most_used_grapes_per_country_schema = vivino_engine.execute(
    """SELECT sql FROM sqlite_master
    WHERE name='most_used_grapes_per_country';"""
)

query_countries_schema = vivino_engine.execute(
    """SELECT sql FROM sqlite_master
    WHERE name='countries';"""
)

query_regions_schema = vivino_engine.execute(
    """SELECT sql FROM sqlite_master
    WHERE name='regions';"""
)

query_grapes_schema = vivino_engine.execute(
    """SELECT sql FROM sqlite_master
    WHERE name='grapes';"""
)

query_toplists_schema = vivino_engine.execute(
    """SELECT sql FROM sqlite_master
    WHERE name='toplists';"""
)

query_wines_schema = vivino_engine.execute(
    """SELECT sql FROM sqlite_master
    WHERE name='wines';"""
)

query_vintages_schema = vivino_engine.execute(
    """SELECT sql FROM sqlite_master
    WHERE name='vintages';"""
)

query_
# display schemas for most_used_grapes_per_country table, countries table, and grapes table
## displaying schema for most_used_grapes_per_country table
print("The schema for most_used_grapes_per_country table is:")
for row in query_most_used_grapes_per_country_schema:
    print(row[0])

## displaying schema for countries table
print("The schema for countries table is:")
for row in query_countries_schema:
    print(row[0])    

## displaying schema for regions table
print("The schema for regions table is:")
for row in query_regions_schema:
    print(row[0])

## displaying schema for grapes table
print("The schema for grapes table is:")
for row in query_grapes_schema:
    print(row[0])

## displaying schema for toplists table
print("The schema for toplists table is:")
for row in query_toplists_schema:
    print(row[0])
    
## displaying schema for wines table
print("The schema for wines table is:")
for row in query_wines_schema:
    print(row[0])

# # query most_used_grapes_per_country table
# query_most_used_grapes_per_country = vivino_engine.execute(
#     """SELECT * 
#     FROM most_used_grapes_per_country;"""
# )

# # create dataframe from query_most_used_grapes_per_country
# df_most_used_grapes_per_country = pd.DataFrame(
#     query_most_used_grapes_per_country.fetchall(),
#     columns=query_most_used_grapes_per_country.keys()
# )



# # join countries table and grapes table to convert country_code and grape_id in most_used_grapes_per_country to country_name and grape_name
# query_most_used_grapes_per_country = vivino_engine.execute(
#     """SELE

# # display df_most_used_grapes_per_country
# display(df_most_used_grapes_per_country)

2023-08-29 22:32:51,755 INFO sqlalchemy.engine.Engine SELECT sql FROM sqlite_master
    WHERE name='most_used_grapes_per_country';
2023-08-29 22:32:51,756 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-29 22:32:51,757 INFO sqlalchemy.engine.Engine SELECT sql FROM sqlite_master
    WHERE name='countries';
2023-08-29 22:32:51,759 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-29 22:32:51,761 INFO sqlalchemy.engine.Engine SELECT sql FROM sqlite_master
    WHERE name='regions';
2023-08-29 22:32:51,763 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-29 22:32:51,765 INFO sqlalchemy.engine.Engine SELECT sql FROM sqlite_master
    WHERE name='grapes';
2023-08-29 22:32:51,766 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-29 22:32:51,768 INFO sqlalchemy.engine.Engine SELECT sql FROM sqlite_master
    WHERE name='toplists';
2023-08-29 22:32:51,769 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-08-29 22:32:51,770 INFO sqlalchemy.engine.Engine SELECT sql FROM sqlite_master
    WHERE name='wines';
2023-08-29 22:32:51,771 INFO sqlalchemy.engine.Engine [raw sql] ()
The schema for most_used_grapes_per_country table is:
CREATE TABLE most_used_grapes_per_country (
	id INTEGER NOT NULL,
	country_code VARCHAR,
	grape_id INTEGER,
	wines_count INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(country_code) REFERENCES countries (code),
	FOREIGN KEY(grape_id) REFERENCES grapes (id)
)
The schema for countries table is:
CREATE TABLE countries (
	code VARCHAR NOT NULL,
	name VARCHAR,
	regions_count INTEGER,
	users_count INTEGER,
	wines_count INTEGER,
	wineries_count INTEGER,
	PRIMARY KEY (code)
)
The schema for regions table is:
CREATE TABLE regions (
	id INTEGER NOT NULL,
	name VARCHAR,
	country_code VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(country_code) REFERENCES countries (code)
)
The schema for grapes table is:
CREATE TABLE grapes (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)
The schema for toplists table is:
CREATE TABLE toplists (
	id INTEGER NOT NULL,
	name VARCHAR(255) NOT NULL,
	country_code VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(country_code) REFERENCES countries (code)
)
The schema for wines table is:
CREATE TABLE wines (
	id INTEGER NOT NULL,
	name VARCHAR,
	is_natural BOOLEAN,
	region_id INTEGER,
	winery_id INTEGER,
	ratings_average FLOAT,
	ratings_count INTEGER,
	url VARCHAR,
	acidity FLOAT,
	fizziness FLOAT,
	intensity FLOAT,
	sweetness FLOAT,
	tannin FLOAT,
	user_structure_count INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(region_id) REFERENCES regions (id),
	FOREIGN KEY(winery_id) REFERENCES wineries (id)
)

### QUESTION 1

We want to highlight 10 wines to increase our sales. Which ones should we choose and why?
- Those with good ratings but not a big amount of ratings
- Natural wines?

In [38]:
## join countries, region, and wines tables to create df_wines
query_wines = vivino_engine.execute(
    """SELECT wines.id AS wine_id,
    wines.name AS wine_name,
    wines.is_natural AS is_natural,
    wines.ratings_average,
    wines.ratings_count,
    regions.name AS region_name,
    countries.name AS country_name
    FROM wines
    LEFT JOIN regions ON wines.region_id = regions.id
    LEFT JOIN countries ON regions.country_code = countries.code
    LEFT JOIN wineries ON wines.winery_id = wineries.id
    WHERE wines.ratings_average >= 4.5
    AND wines.ratings_count >= 650
    AND wines.is_natural = 1;
    """
)

# fetch query_wines
fetch_query_wines = query_wines.fetchall()

print(query_wines._metadata.keys)


# initialize fetch_query_wines as pandas dataframe
df_wines = pd.DataFrame(
    fetch_query_wines,
    columns=query_wines.keys()
)

# display df_wines
display(df_wines)



# for row in fetch_query_wines:
#     print(row)

# print(type(fetch_query_wines))

2023-08-29 22:41:50,769 INFO sqlalchemy.engine.Engine SELECT wines.id AS wine_id,
    wines.name AS wine_name,
    wines.is_natural AS is_natural,
    wines.ratings_average,
    wines.ratings_count,
    regions.name AS region_name,
    countries.name AS country_name
    FROM wines
    LEFT JOIN regions ON wines.region_id = regions.id
    LEFT JOIN countries ON regions.country_code = countries.code
    LEFT JOIN wineries ON wines.winery_id = wineries.id
    WHERE wines.ratings_average >= 4.5
    AND wines.ratings_count >= 650
    AND wines.is_natural = 1;

2023-08-29 22:41:50,771 INFO sqlalchemy.engine.Engine [raw sql] ()
RMKeyView(['wine_id', 'wine_name', 'is_natural', 'ratings_average', 'ratings_count', 'region_name', 'country_name'])

,wine_id,wine_name,is_natural,ratings_average,ratings_count,region_name,country_name
0,1101360,Le Bourg Saumur Champigny,1,4.5,1264,Saumur-Champigny,France
1,1101361,Les Poyeux Saumur Champigny,1,4.5,2005,Saumur-Champigny,France
2,1219509,Camí Pesseroles,1,4.5,1083,Priorat,Espagne
3,1627127,Magma,1,4.5,748,Terre Siciliane,Italie
4,1680438,Il San Lorenzo Bianco,1,4.5,673,Marche,Italie

We can recommend the wines listed above because those wines are natural, European Wines substantiated with a solid customer reviews and rating.

In [51]:
# query vintage wines
query_vintages= vivino_engine.execute("""SELECT avg(rank) AS avg_rank,
*
FROM vintages
LEFT JOIN wines ON vintages.wine_id = wines.id
INNER JOIN vintage_toplists_rankings ON vintages.id = vintage_toplists_rankings.vintage_id
WHERE vintages.ratings_count >= 5000
    AND vintages.ratings_average >= 4.5
GROUP BY vintages.wine_id 
ORDER BY avg_rank ASC;
""")

# initialize best_vintages_df
fetch_query_vintages = query_vintages.fetchall()

best_vintages_df = pd.DataFrame(
    fetch_query_vintages,
    columns=query_vintages.keys()
)

# display best_vintages_df
display(best_vintages_df)

2023-08-29 23:01:49,759 INFO sqlalchemy.engine.Engine SELECT avg(rank) AS avg_rank,
*
FROM vintages
LEFT JOIN wines ON vintages.wine_id = wines.id
INNER JOIN vintage_toplists_rankings ON vintages.id = vintage_toplists_rankings.vintage_id
WHERE vintages.ratings_count >= 5000
    AND vintages.ratings_average >= 4.5
GROUP BY vintages.wine_id
ORDER BY avg_rank ASC;

2023-08-29 23:01:49,761 INFO sqlalchemy.engine.Engine [raw sql] ()

,avg_rank,id,name,wine_id,ratings_average,ratings_count,year,price_euros,price_discounted_from,price_discount_percentage,...,fizziness,intensity,sweetness,tannin,user_structure_count,id,top_list_id,vintage_id,rank,previous_rank
0,6.000000,164942599,Krug Grande Cuvée,7122486,4.6,28513,N.V.,245.00,None,None,...,4.200160,4.090082,NaN,NaN,5360,47,2020999,164942599,6,6
1,8.333333,150263185,San Marzano 60 Sessantanni Old Vines Primitivo...,11890,4.5,17090,2017,63.95,None,None,...,NaN,4.082944,3.170110,2.212944,2765,88,2074986,150263185,5,12
2,9.500000,1554466,Laurent-Perrier Grand Siècle Champagne (Grande...,1238419,4.5,9824,N.V.,183.70,None,None,...,4.170655,3.880490,NaN,NaN,1414,91,2017999,1554466,9,9
3,10.000000,85559438,Antinori Tignanello 2016,1652,4.6,13709,2016,420.00,None,None,...,NaN,3.413203,1.722438,2.986709,8219,48,2020292,85559438,10,10
4,10.000000,164943169,Tenuta Ulisse Limited Edition 10 Vendemmie,6139455,4.5,9453,N.V.,34.20,None,None,...,NaN,3.312688,2.054572,2.764013,399,93,2508363,164943169,5,9

We recommend these vintage wines due to the fact that they have been consistently marking their place in our vintages_toplists_rankings table throughout multiple years, and their positions are substantiated with a significant amount of ratings and overall average rating score.

In [13]:
conn.close()

NameError: name 'conn' is not defined